*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #333;
}

.blue-text {
  color: #039dff;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #039dff;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper h2 {
  text-transform: uppercase;
  text-align: center;
}

.scroll-fix::before {
  content: '';
  display: block;
  height: 66px;
  margin-top: -66px;
}

.visibility {
  visibility: hidden;
}

nav {
  text-transform: uppercase;
  transition: background-color .6s;
}

nav a, nav i {
  color: #fff;
  transition: color .3s;
}

nav a:hover {
  color: #039dff;
}

nav i {
  padding: 10px;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .active {
  color: #039dff;
}

nav .nav-item {
  margin-left: 6px;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

header {
  color: #fff;
  overflow: hidden;
}

header h1 {
  padding: 10px;
  text-transform: uppercase;
  font-size: 30px;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
}

header .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

header .hero-text p {
  padding: 10px;
  font-size: 14px;
}

header .btn-outline-light {
  text-transform: uppercase;
}

header .fa-caret-down {
  display: none;
}

#aboutus i {
  font-size: 30px;
  margin-top: 20px;
}

#aboutus h3 {
  text-transform: uppercase;
  font-size: 18px;
}

#aboutus p {
  font-size: 14px;
}

#aboutus .aboutus-hover {
  transition: color 0.3s;
}

#aboutus .aboutus-hover:hover {
  color: #039dff;
}

#aboutus-hero {
  color: #ddd;
  overflow: hidden;
}

#aboutus-hero .bg-light {
  padding: 80px 0 !important;
  position: relative;
  background-image: url("../img/about-hero.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

#aboutus-hero .bg-light h2 {
  font-size: 32px;
}

#aboutus-hero .bg-light i {
  font-size: 35px;
}

#aboutus-hero .bg-light p {
  font-size: 14px;
}

#aboutus-hero .about-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -10;
}

#aboutus-hero .about-hero-item {
  margin: 10px 0;
}

#portfolio h2 {
  position: relative;
  bottom: 30px;
  padding-top: 60px;
  text-align: center;
  text-transform: uppercase;
}

#portfolio .underline {
  position: relative;
  bottom: 30px;
}

#prices .bg-light {
  background-color: #f9f9f9;
}

#prices .price-wrap {
  max-width: 2560px;
  width: 95% !important;
  margin: 0 auto;
}

#prices .price-box {
  margin: 20px 10px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  transition: transform .3s;
}

#prices h2 {
  text-align: center;
}

#prices h2 h3 {
  color: #039dff;
  text-transform: uppercase;
}

#prices h2 span {
  font-weight: bold;
}

#prices h2 i {
  padding: 0 5px;
  font-size: 23px;
}

#prices h2 button {
  position: relative;
  left: 50px;
  padding: 10px 20px;
  text-transform: uppercase;
}

#prices .price {
  font-size: 30px;
  font-weight: bold;
}

#prices .price-box:hover {
  transform: scale(1.05);
}

#prices .price-text {
  margin-top: 30px;
}

#team .bg-light {
  position: relative;
  background-image: url("../img/room-hero.jpg");
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}

#team .bg-light h2 {
  color: #ddd;
  text-align: center;
}

#team .shadow-team {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#team .card {
  transition: transform .3s;
  margin: 15px;
}

#team .card img {
  height: 230px;
}

#team .card i {
  padding: 10px 20px;
}

#team .card .card-footer {
  margin-left: 0;
  margin-right: 0;
}

#team .card:hover {
  transform: scale(0.96);
}

#team .card-body {
  height: 160px;
}

#team .card-title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

#team .card-text {
  font-size: 14px;
  text-align: center;
}

#achievements h2 {
  text-align: center;
}

#achievements .achievement {
  text-align: center;
}

#achievements i {
  padding: 10px;
  font-size: 48px;
  color: #ffffff;
  text-shadow: 0 0 5px black;
}

#achievements .achievement-number {
  font-size: 22px;
}

#achievements .achievement-text {
  font-size: 13ox;
  text-transform: uppercase;
}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }
  header .hero-text p {
    font-size: 16px;
  }
  #aboutus-hero .bg-light h2 {
    font-size: 36px;
  }
  #aboutus-hero .bg-light h3 {
    font-size: 32px;
  }
  #aboutus-hero .bg-light p {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  #team .card-text {
    font-size: 12px;
  }
  #team .card-title {
    font-size: 17px;
  }
}

@media (min-width: 500px) {
  #team .card-body {
    height: 120px;
  }
}
/*# sourceMappingURL=main.css.map */